* {
  font-family: sans-serif; /* Change your font family */
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #4e73df;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  overflow: auto;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  overflow: auto;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  overflow: auto;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  overflow: auto;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #4e73df;
  overflow: auto;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #4e73df;
  overflow: auto;
}

@media screen and (max-width: 520px) {
  /*Tabel Responsive 2*/
  .responsive-2 {
      width: 100%;
  }
  .responsive-2 thead {
      display: none;
  }
  .responsive-2 td {
      display: block;
      text-align: right;
      border-right: 1px solid #e1edff;
  }
  .responsive-2 td::before {
      float: left;
      text-transform: uppercase;
      font-weight: bold;
      content: attr(data-header);
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .card {
    width: 400px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 10px 10px;
  }
  
  .main,
  .copy-button {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
  }
  .card::after {
    position: absolute;
    content: "";
    height: 40px;
    right: -20px;
    border-radius: 40px;
    z-index: 1;
    top: 70px;
    background-color: #f8f9fc;
    width: 40px;
  }
  
  .card::before {
    position: absolute;
    content: "";
    height: 40px;
    left: -20px;
    border-radius: 40px;
    z-index: 1;
    top: 70px;
    background-color: #f8f9fc;
    width: 40px;
  }
  
  .co-img img {
    width: 100px;
    height: 100px;
  }
  .vertical {
    border-left: 5px dotted black;
    height: 100px;
    position: absolute;
    left: 40%;
  }
  
  .content h1 {
    font-size: 35px;
    margin-left: -20px;
    color: #565656;
  }
  
  .content h1 span {
    font-size: 18px;
  }
  .content h2 {
    font-size: 18px;
    margin-left: -20px;
    color: #565656;
    text-transform: uppercase;
  }
  
  .content p {
    font-size: 14px;
    color: #696969;
    margin-left: -20px;
  }
  
  .copy-button {
    margin: 12px 0 -5px 0;
    height: 45px;
    border-radius: 4px;
    padding: 0 5px;
    border: 1px solid #e1e1e1;
  }
  
  .copy-button input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
  }
  
  .copy-button button {
    padding: 5px 20px;
    background-color: #0000A0;
    color: #fff;
    border: 1px solid transparent;
  }
  
  .buy{
   position: absolute;
    content: "";
    bottom: 20px;
    left:20px;
    background-color: #797979;
   }

   body {
    background: #dedede;
}
.coupon .kanan {
    border-left: 1px dashed #ddd;
    width: 40% !important;
    position:relative;
}

.coupon .kanan .info::after, .coupon .kanan .info::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #dedede;
    border-radius: 100%;
}
.coupon .kanan .info::before {
    top: -10px;
    left: -10px;
}

.coupon .kanan .info::after {
    bottom: -10px;
    left: -10px;
}
.coupon .time {
    font-size: 1.6rem;
}

.wrap{
  width:600px;
}
.coupon{
  display:inline-block;
  overflow:hidden;
  border-radius:10px;
}
.coupon-left{
  float:left;
  width:150px;
  height:150px;
  position:relative;
}
.coupon-left::before{
  content: '';
  position: absolute;
  top: -210px;
  display: block;
  right: -210px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 200px solid #252525;
  clip: rect(auto,auto,285px,auto);
}
.coupon-left::after{
  content: '';
  position: absolute;
  bottom: -210px;
  display: block;
  right: -210px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 200px solid #252525;
  clip: rect(135px,auto,auto,auto);
}
.coupon-con{
  float:left;
  width:350px;
  height:150px;
  position:relative;
}
.coupon-con::before{
  content: '';
  position: absolute;
  top: -410px;
  display: block;
  left: -410px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 400px solid #fff;
  clip: rect(0,auto,485px,410px);
}
.coupon-con::after{
  content: '';
  position: absolute;
  bottom: -410px;
  display: block;
  left: -410px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 400px solid #fff;
  clip: rect(335px,auto,auto,410px);
}
